In [8]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [9]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\User\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

# NASA Mars News

In [10]:
news_url = 'https://redplanetscience.com/'
browser.visit(news_url)

In [11]:
time.sleep(5)

news_html = browser.html

soup = bs(news_html,'html.parser')

In [16]:
# Retrieve the latest News Title and Paragraph Text
result = soup.find('div', class_="list_text")

news_title = result.find("div", class_ = "content_title").text
news_para = result.find('div',class_="article_teaser_body").text

print(f"news_title: {news_title}")
print(f"news_p: {news_para}")

news_title: Common Questions about InSight's 'Mole'
news_p: The following Q&As with members of the team answer some of the most common questions about the burrowing device, part of a science instrument called the Heat Flow and Physical Properties Package (HP3).

# JPL Mars Space Images

In [58]:
img_url = 'https://spaceimages-mars.com'
browser.visit(img_url)
browser.click_link_by_partial_text('FULL IMAGE')

In [59]:
img_html = browser.html
soup = bs(img_html, "html.parser")

In [60]:
image_url = soup.find_all("img")

In [62]:
image_url = image_url[1]['src']

In [63]:
image_url

'image/featured/mars1.jpg'

In [64]:
featured_image_url = str(img_url) + '/' + str(image_url)
featured_image_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

# Mars Facts

In [65]:
facts_url = 'https://galaxyfacts-mars.com'
browser.visit(facts_url)

In [74]:
tables = pd.read_html(facts_url)
mars_df = tables[0]
mars_df.columns = ["Description","Values","Drop"]
mars_df.set_index("Description", inplace=True)
mars_df

                                  Values             Drop
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [75]:
mars_df = mars_df.drop(axis=0, labels = 'Mars - Earth Comparison')

In [77]:
mars_df = mars_df.drop(axis=1, labels = "Drop")

In [78]:
mars_df

                             Values
Description
Diameter:                  6,779 km
Mass:               6.39 × 10^23 kg
Moons:                            2
Distance from Sun:   227,943,824 km
Length of Year:      687 Earth days
Temperature:           -87 to -5 °C

In [79]:
# Save html code to folder Assets
html_table = mars_df.to_html()

# Strip unwanted newlines to clean up the table
html_table.replace("\n", '')

# Save html code
mars_df.to_html("mars_facts_data.html")